<h1>This is Exercise page!!</h1>

<div class="container">
	<div class="row">
		<form class="form-inline" name="newExerciseForm" ng-submit="esc.addExercise()">
		  <div class="form-group">
		    <label class="sr-only" for="newExerciseName">Упражнение</label>
		    <input 
			    type="text" 
			    class="form-control" 
			    id="newExerciseName" 
			    placeholder="Упражнение"
			    ng-model="esc.newExercise.name"
		    />
		  </div>
		  <textarea class="form-control" style="width: 500px" rows="1" ng-model="esc.newExercise.target"></textarea>
		  <button type="submit" class="btn btn-default">Добавить</button>
		</form>
	</div>
</div>
<br/>
<!-- <pre>{{newExerciseForm | json}}</pre> -->
<!-- <pre>{{esc.list | json}}</pre> -->
<pagination total-items="esc.list.length" ng-model="esc.currentPage" ng-change="esc.pageChanged()"></pagination>
<table class="table">
	<thead>
		<tr>
			<th>№</th>
			<th>Название</th>
			<th>Уровень подготовки</th>
			<th>Управление</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="exercise in esc.list">
			<td ng-bind="$index+1"></td>
			<td ng-bind="exercise.name"></td>
			<td ng-bind="exercise.difficulty_level"></td>
			<td><span class="pointer glyphicon glyphicon-remove" aria-hidden="true" ng-click="esc.removeExercise(exercise.$id)"></span></td>
		</tr>
	</tbody>
</table>
